

    <% if (locals.bookPage) { %>
        <% bookPage.forEach((bookInfo) => { %>
        <div class="bookContainer">
            <img src="https://covers.openlibrary.org/b/isbn/<%= bookInfo.isbn %>-M.jpg">
            <form action="/<%= bookInfo.id %>" method="get" class="bookTilesLink">
                <button class="buttonOfHell" type="submit" value="Submit">
                    <%= bookInfo.title %>
                </button>
            </form>
            <p class="readAndRate">
                Read: <%= bookInfo.dateread %> Rating: <%= bookInfo.review %>/100
            </p>
            <p class="author">
                Author: <%= bookInfo.author %>
            </p>
            <p class="bodyText">
                <%= bookInfo.text %>
            </p>
        </div>
        <% }); %>
    <% } %>
